
#top-input {
    justify-content: center;
    text-align: center;
}
#first-name-input {
    text-align: center;
    font-size: 200%;
}
#last-name-input {
    text-align: center;
    font-size: 200%;
}
#state-input {
    text-align: center;
    font-size: 120%;
}
#city-input {
    text-align: center;
    font-size: 120%;
}
#email-input {
    text-align: center;
    font-size: 120%;
}
#summary-statement {
    width:auto;
    height: 300px;
    border-style: groove; 
    border-color: black;  
}