#top-input {
    text-align: center;
}
dt {
    font-size: 10rem;
}
#first-name-input {
    text-align: center;
   
}
#summary-statement {
    width:auto;
    height: 300px;
    border-style: groove; 
    border-color: black;  
}